body {
    background: url("rainforest.jpg") no-repeat center fixed;
    background-size: cover; 
    color: white;
}

h1 {
    text-align: center;
}

#media {
    color:white; 
}

#content {
    color: white;
}

#Contact {
    color: white;
}